:root {
    --mainFont: "Outfit", sans-serif;
    --contentFont: "Heebo", sans-serif;
    --mainColor: #007ECA;
    --imgBg: #f7f9fc;
}

body h1, h2,  h3, h4, h5, h6 {
    font-family: var(--mainFont);
}

body p {
    font-family: var(--contentFont);
}

body i{
    color: var(--mainColor);
}

body ul{
    list-style-type: none;
}

/* navbar starts */

.navbar .container {
    padding-left: 60px;
    padding-right: 60px;
}

.navbar-nav .nav-link.active {
    color: var(--mainColor);
}

.nav-link {
    color: #000;
    font-family: var(--mainFont);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    transition: 0.5s;
}

.nav-link:hover {
    color: var(--mainColor);
}

.navbar .navbar-collapse .dropdown-item {
    text-transform: uppercase;
    font-family: var(--mainFont);
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.25px;
    transition: 0.5s;
}

.navbar .navbar-collapse .dropdown-item:hover {
    color: var(--mainColor);
    background-color: #fff;
}

.navbar .contact i {
    color: #000;
    font-size: 15px;
    margin-right: 10px;
}

.navbar .contact span {
    color: #000;
    font-family: var(--mainFont);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    transition: 0.5s;
}

.navbar .contact i {
    transition: 0.5s;
}

.navbar .btn:hover i {
    color: var(--mainColor);
}

.navbar .btn:hover span {
    color: var(--mainColor);
}

.navbar .btn:hover {
    color: transparent;
}

/* navbar ends */

/* browse starts */

.browse .browse-title {
    margin-bottom: 70px;
}

.browse .browse-title h2 {
    font-size: 40px;
    font-weight: 600;
}

.browse .browse-title p {
    font-size: 24px;
    font-weight: 400;
    width: 70%;
}

.browse .container {
    padding-left: 60px;
    padding-right: 60px;
}

.browse-content .browse-topic h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 16px;
}

.browse-content .browse-topic p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
    padding-right: 15px;
}

.browse .browse-more p{
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.browse .browse-more p::after{
    content: '';
    border-bottom: 1px dashed #c2c2c4;
    position: absolute;
    bottom: -2px;
    left: -34px;
    width: 446px;
}

/* browse ends */

/* browse responsive starts */

@media screen and (max-width: 1037px) {
    .browse .browse-title p {
        width: 80%;
    }
}

@media screen and (max-width: 908px) {
    .browse .browse-title p {
        font-size: 22px;
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .browse .browse-title p {
        margin-bottom: -5px;
    }
}

@media screen and (max-width: 441px) {
    .browse .browse-title p {
        font-size: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .browse-content .browse-topic p {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 551px){

    .browse .browse-title h2{
        font-size: 30px;
    }

    .browse .browse-title p{
        font-size: 18px;
    }

}

@media screen and (max-width: 520px) {

    .browse-more{
        gap: 10px !important;
    }

    .browse .browse-more p{
        font-size: 13px;
    }

    .browse .browse-more p::after{
        content: '';
        border-bottom: 1px dashed #c2c2c4;
        position: absolute;
        bottom: -2px;
        left: -29px;
        width: 362px;
}

}

/* browse responsive ends */

/* learn-something starts */

.learn-something .container {
    padding-left: 60px;
    padding-right: 60px;
}

.learn-img{
    position: relative;
    background-color: var(--imgBg);
    height: 499px;
}

.learn-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.learn-content{
    margin-left: 65px;
}

.learn-content h2{
    font-size: 40px;
    font-weight: 600;
}

.learn-content p{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
}

.learn-content li{
    margin-bottom: 10px;
}

.learn-content h3{
    font-size: 20px;
    font-weight: 400;
}

/* learn-something ends */

/* learn-something responsive starts */

@media screen and (max-width: 1201px){

    .learn-img img{
        width:400px;
        height: 270px;
    }

    .learn-content{
        margin-left: 50px;
    }

}

@media screen and (max-width: 993px){

    .learn-something .row{
        flex-direction: column;
    }

    .learn-img img{
        width: 600px;
        height: 400px;
    }

    .learn-content{
        margin-left: 0;
        margin-top: 45px;
        text-align: center;
        align-items: center !important;
    }

    .learn-content p{
        margin-bottom: 35px;
    }

    .learn-content .learn-benifits{
        background-color: var(--imgBg);
        padding: 45px;
    }
}

@media screen and (max-width: 768px) {

    .learn-img{
        height: 400px;
    }
    
    .learn-img img{
        width: 400px;
        height: 270px;
    }

    .learn-content h2{
        font-size: 35px;
    }

}

@media screen and (max-width: 551px){

    .learn-content h2{
        font-size: 30px;
    }

    .learn-content p{
        font-size: 15px;
    }

    .learn-content h3{
        font-size: 18px;
    }

}

@media screen and (max-width: 475px) {

    .learn-img{
        height: 300px;
    }
    
    .learn-img img{
        width: 330px;
        height: 200px;
    }

    .learn-benifits ul li{
        text-align: left;
    }

}

@media screen and (max-width: 443px){

    .learn-content h2{
        font-size: 25px;
    }

    .learn-content p{
        font-size: 14px;
    }

}

/* learn-something responsive ends */

/* learn-then-earn starts */

.learn-then-earn .container{
    padding-left: 60px;
    padding-right: 60px;
}

.learn-then-earn .row{
    background-color: var(--imgBg);
    padding: 30px;
}

.learn-then-earn-title h2{
    font-size: 40px;
    font-weight: 600;
}

.learn-then-earn-title p{
    font-size: 16px;
    font-weight: 400;
}

.learn-then-earn .join-btn{
    background-color: var(--mainColor);
    padding: 20px 40px;
    transition: 0.5s;
}

.learn-then-earn .join-btn:hover{
    background-color: #0E70AC;
}


.learn-then-earn .join-btn{
    font-family: var(--mainFont);
    font-size: 16px;
    font-weight: 500;
}

/* learn-then-earn ends */

/* learn-then-earn responsive starts */

@media screen and (max-width: 1200px){

    .learn-then-earn .join-btn{
        background-color: var(--mainColor);
        padding: 20px 30px;
    }

    .learn-then-earn-title h2{
        font-size: 30px;
    }

}

@media screen and (max-width: 992px){

    .learn-then-earn .row{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .learn-then-earn .learn-then-earn-title h2{
        margin-bottom: 14px !important;
    }

    .learn-then-earn .join-btn{
        padding: 17px 30px;
        text-align: center;
        margin-top: 10px;
        font-size: 15px;
    }

}

@media screen and (max-width: 768px){

    .learn-then-earn .learn-then-earn-title h2{
        font-size: 25px;
    }

    .learn-then-earn .learn-then-earn-title p{
        font-size: 14px;
    }

    .learn-then-earn .join-btn{
        padding: 15px 27px;
        margin-top: 7px;
        font-size: 14px;
    }

}

@media screen and (max-width: 514px){

    .learn-then-earn .learn-then-earn-title h2{
        font-size: 23px;
    }

    .learn-then-earn .learn-then-earn-title p{
        font-size: 13px;
    }

    .learn-then-earn .join-btn{
        padding: 12px 20px;
        margin-top: 7px;
        font-size: 12px;
    }

}

/* learn-then-earn responsive ends */

/* footer starts */

footer .container{
    padding-left: 60px;
    padding-right: 60px;
}

footer h2{
    color: var(--mainColor);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 30px;
}

footer .text{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--contentFont);
}

footer .text a{
    margin-bottom: 5px;
}

footer ul, footer .btn{
    margin: 0;
    padding: 0;
}

footer .btn:hover{
    border: transparent;
    box-shadow: none;
}

footer i{
    font-size: 18px;
}

footer .contact i{
    font-size: 16px;
}

/* footer ends */

/* footer responsive starts */

@media screen and (max-width: 992px){

    footer .footer-content{
        text-align: left;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
    }

    footer .footer-content .logo{
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
    }

    footer h2{
        margin-bottom: 25px;
    }

    footer .footer-content address{
        font-size: 14px;
    }

    footer .office .btn{
        text-align: left;
        font-size: 14px;
    }

}

@media screen and (max-width: 768px){

    footer .row{
        justify-content: space-between;
    }

    footer .office .btn{
        font-size: 14px;
    }

}

@media screen and (max-width: 576px){

    footer .row{
        row-gap: 30px;
    }

    footer h2{
        margin-bottom: 20px;
    }

}


/* footer responsive ends */
