/* single-course starts */

.single-course {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--sectionBg);
    position: relative;
    z-index: -2;
}

.bg-img {
    width: 30%;
    position: absolute;
    bottom: 0px;
    left: -100px;
    z-index: -1;
}

.single-course h1 {
    font-size: 50px;
    font-weight: 600;
}

.single-course p {
    font-size: 24px;
    font-weight: 400;
}

.single-course h2 {
    font-size: 20px;
    font-weight: 400;
}

.single-course .join-btn {
    background-color: var(--mainColor);
    padding: 15px 40px;
    transition: 0.5s;
    font-family: var(--mainFont);
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}

.single-course .join-btn:hover {
    background-color: #0E70AC;
    border: transparent;
    box-shadow: none;
}

.single-course .join-btn:active {
    border: transparent;
    box-shadow: none;
    background-color: #0E70AC;
}

.single-course .course-video {
    position: relative;
}

.course-video img {
    width: 80%;
}

.course-video .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-video .icon i {
    font-size: 20px;
}

/* single-course ends */

/* single-course responsive starts */

@media screen and (max-width: 1200px) {

    .single-course h1 {
        font-size: 40px;
    }

    .single-course p {
        font-size: 22px;
    }

    .single-course h2 {
        font-size: 18px;
    }

    .single-course .join-btn {
        padding: 15px 35px;
    }

    .course-video img {
        width: 100%;
    }

}

@media screen and (max-width: 992px) {

    .single-course {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .bg-img {
        width: 45%;
    }

    .single-course h1 {
        font-size: 30px;
    }

    .single-course p {
        font-size: 16px;
    }

    .single-course .join-btn {
        padding: 15px 35px;
    }

}

@media screen and (max-width: 768px) {

    .bg-img {
        width: 55%;
    }

}


/* single-course responsive starts */


/* learn-from-beginning starts */

.learn-from-beginning h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

.learn-from-beginning p {
    font-size: 16px;
    font-weight: 400;
}

.learn-from-beginning img {
    margin-bottom: 13px;
}

.learn-from-beginning .join-btn {
    background-color: var(--mainColor);
    padding: 20px 40px;
    transition: 0.5s;
    font-family: var(--mainFont);
    font-size: 16px;
    font-weight: 500;
}

.learn-from-beginning .join-btn:hover {
    background-color: #0E70AC;
    border: transparent;
    box-shadow: none;
}

.learn-from-beginning .join-btn:active {
    border: transparent;
    box-shadow: none;
    background-color: #0E70AC;
}

/* learn-from-beginning ends */


/* learn-from-beginning responsive starts */

@media screen and (max-width: 1200px) {

    .learn-from-beginning h2 {
        font-size: 30px;
    }

    .learn-from-beginning p {
        font-size: 15px;
    }

    .learn-from-beginning .join-btn {
        padding: 20px 35px;
    }

}

@media screen and (max-width: 992px) {

    .learn-from-beginning h2 {
        font-size: 30px;
    }

    .learn-from-beginning p {
        font-size: 15px;
    }

    .learn-from-beginning .join-btn {
        padding: 20px 35px;
    }


}

/* learn-from-beginning responsive ends */


/* related-courses starts */

.related-courses {
    background-color: var(--imgBg);
}

.related-courses-title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 30px;
}

.related-courses .btn {
    padding: 0;
}

.related-courses .btn:hover {
    border: transparent;
    box-shadow: none;
}

.related-courses .btn:active {
    border: transparent;
    box-shadow: none;
}

.related-courses .card {
    margin-bottom: 60px;
}

.related-courses h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.related-courses span {
    font-size: 14px;
    font-weight: 600;
    color: var(--mainColor);
    font-family: var(--mainFont);
    margin-left: 10px;
}

/* related-courses ends */

/* related-courses responsive starts */

@media screen and (max-width: 1200px) {

    .related-courses-title h2 {
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 50px;
    }

    .related-courses .card {
        margin-bottom: 40px;
    }

    .related-courses h3 {
        font-size: 18px;
    }

    .related-courses span {
        font-size: 12px;
        margin-left: 5px;
    }

    .related-courses i {
        font-size: 12px;
    }

}

@media screen and (max-width: 991px) {

    .related-courses .container .row {
        row-gap: 35px;
    }

    .related-courses .card {
        margin: 0;
    }

    .related-courses .last-card {
        margin-bottom: 40px;
    }

    .related-courses .course-info {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .related-courses h3 {
        font-size: 24px;
    }

    .related-courses span {
        font-size: 16px;
        margin-left: 10px;
    }

    .related-courses i {
        font-size: 16px;
    }

}

@media screen and (max-width: 768px) {

    .related-courses .last-card {
        margin-bottom: 25px;
    }

    .related-courses .course-info {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .related-courses span {
        font-size: 14px;
        margin-left: 10px;
    }

    .related-courses i {
        font-size: 14px;
    }

}

@media screen and (max-width: 576px) {

    .related-courses .last-card {
        margin-bottom: 15px;
    }

    .related-courses .course-info {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .related-courses h3 {
        font-size: 22px;
    }

    .related-courses span {
        font-size: 14px;
        margin-left: 10px;
    }

    .related-courses i {
        font-size: 14px;
    }

}

@media screen and (max-width: 450px) {

    .related-courses .last-card {
        margin-bottom: 10px;
    }

    .related-courses h3 {
        font-size: 17px;
        font-weight: 550;
    }

    .related-courses span {
        font-size: 12px;
        margin-left: 5px;
    }

    .related-courses i {
        font-size: 12px;
    }

}

/* related-courses responsive ends */